@{
    ViewData["Title"] = "Home Page";
}

<div class="container m-lg-5">
    <div class="row">

        <!--Fee Calculator-->
        <div class="col-sm-4">
            <form>
                <h1>Fee Calculator</h1>
                <div class="fee-response"></div>
                <div class="form-group">
                    <label>Amount to be transferred</label>
                    <input type="number" class="form-control" name="fee" value="0">
                </div>

                <button type="button" class="btn btn-primary" onclick="CalculateCharge();">Calculate</button>
            </form>
        </div>
        <!-- End -->

        <!---->
        <div class="col-sm-8">
            <h1>SurCharge</h1>
            <form>
                
                <div class="form-group">
                    <label>Amount to be transferred</label>
                    <input type="number" class="form-control" name="surcharge" value="0">
                </div>

                <button type="button" class="btn btn-primary" onclick="CalculateSurCharge();">Calculate</button>
            </form>

            <table class="table table-bordered mt-lg-5">
                <thead>
                    <tr>
                        <th scope="col">Amount</th>
                        <th scope="col">Transfer Amount</th>
                        <th scope="col">Charge</th>
                        <th scope="col">Debit Amount (Transfer Amount + Charge)</th>
                    </tr>
                </thead>
                <tbody class="response-body">
                    
                </tbody>
            </table>
        </div>
    </div>
</div>


